.awesome {
    background-color: #fff;
    padding: 80px 0px 116px;

}

.awesome-separator {
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: auto;
    margin-bottom: 34px;
}

.awesome-description{
    margin-bottom: 68px;
}

.awesome-description p {
    color: #86878B;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.awesome-wrapper {
    display: flex;
    justify-content: space-between;
}

.awesome-card {
    width: 350px;
}

.awesome-card__img {
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}


.awesome-card__title {
    text-align: center;
    text-transform: capitalize;
    color: #333;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}


.awesome-card__text p{
    color: #000;
    font-family: Open Sans;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}